@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 160 30% 96%;
    --foreground: 169 14% 18%;
    --card: 0 0% 100%;
    --card-foreground: 169 14% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 169 14% 18%;
    --primary: 168 17% 25%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 45 94% 21%;
    --secondary-foreground: 48 90% 92%;
    --muted: 160 16% 86%;
    --muted-foreground: 169 9% 35%;
    --accent: 45 80% 45%;
    --accent-foreground: 52 95% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 160 14% 80%;
    --input: 160 14% 80%;
    --ring: 168 17% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 168 20% 8%;
    --foreground: 60 9% 97%;
    --card: 168 18% 12%;
    --card-foreground: 60 9% 97%;
    --popover: 168 18% 12%;
    --popover-foreground: 60 9% 97%;
    --primary: 168 17% 40%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 45 94% 45%;
    --secondary-foreground: 45 65% 15%;
    --muted: 168 15% 18%;
    --muted-foreground: 169 12% 70%;
    --accent: 45 80% 45%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 168 12% 20%;
    --input: 168 12% 20%;
    --ring: 168 17% 40%;
  }
}
